<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Table</title>
    <link rel="stylesheet" href="../static/styles/TableStyleSheet.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('tr').click(function () {
                $(this).addClass('selected').siblings().removeClass('selected');
                var Match = $(this).find('td:first').text();
                var Player_1 = $(this).find('td:nth-child(2)').text();
                var Player_2 = $(this).find('td:last').text();
                $('#selected_row').val(Match + ';;' + Player_1 + ';;' + Player_2);
                $('#match_field').val(Match);
                $('#player_1_field').val(Player_1);
                $('#player_2_field').val(Player_2);
                $('#my_form').submit();
            });
        });
    </script>
</head>
<body>
<div style="text-align: left;">

    <label for="match_field" class="top-title">Match : </label>
    <input class="top-title" type="text" id="match_field" name="match_field" value="{{ selected_match }}"><br><br>

    <div class="align_forms_label">

        <label for="player_1_field" class="top-title">Player 1 : </label>
        <input class="top-title" type="text" id="player_1_field" name="player_1_field"
               value="{{ selected_player_1 }}"><br><br>

        <form class="center" action="/add_1_player_1" method="POST">
            <input type="Submit" value="+" class="button-plus-minus">
        </form>

        <form class="center" action="/minus_1_player_1" method="POST">
            <input type="Submit" value="-" class="button-plus-minus">
        </form>

    </div>

    <div class="align_forms_label">

        <label for="player_2_field" class="top-title">Player 2 : </label>
        <input class="top-title" type="text" id="player_2_field" name="player_2_field"
               value="{{ selected_player_2 }}"><br><br>

        <form class="center" action="/add_1_player_2" method="POST">
            <input type="Submit" value="+" class="button-plus-minus">
        </form>

        <form class="center" action="/minus_1_player_2" method="POST">
            <input type="Submit" value="-" class="button-plus-minus">
        </form>

    </div>

</div>

<form class="center" action="/confirm_next_game" method="POST" style="display: inline-block">
    <input type="Submit" value="CONFIRM NEXT GAME" class="button-76">
</form>

<form class="center" action="/swap_name_OBS" method="POST" style="display: inline-block">
    <input type="Submit" value="SWAP players" class="button-76">
</form>

<form class="center" action="/go2streamDeck" method="POST" style="display: inline-block">
    <input type="Submit" value="Go to StreamDeck" class="button-76">
</form>

<form id="my_form" method="POST">
    <input type="hidden" id="selected_row" name="selected_row">
    <table>
        <tr>
            <th>Match</th>
            <th>Player 1</th>
            <th>Player 2</th>
        </tr>
        {% for item in data %}
            <tr>
                <td>{{ item['Match'] }}</td>
                <td>{{ item['Player_1'] }}</td>
                <td>{{ item['Player_2'] }}</td>
            </tr>
        {% endfor %}
    </table>
</form>

<h1 class="top-title">First button is for generating a full Dict of matches</h1>
<form class="center" action="/get_csv" method="POST">

    <div style="text-align: center;">
        <input type="Submit" value="GET SETS" class="button-76">
    </div>

</form>

<h1 class="top-title">Second button is for switching players matches</h1>
<form class="center" action="/swap_name_OBS" method="POST">

    <div style="text-align: center;">
        <input type="Submit" value="SWAP players" class="button-76">
    </div>
</form>
</body>
</html>
