<!doctype html>
<html lang="fr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/index.css">
      <title>test flask</title>
    </head>
	<body>

        <form class="grid" action="/get_csv" method="POST">

          <div style="text-align: center;"><input type="Submit" value="GENERATE CSV"></div>

        </form>

        <form class="grid" action="/get_top_8" method="POST">

          <div style="text-align: center;"><input type="Submit" value="GENERATE top 8"></div>

        </form>
        <br>
        <br>
        <br>
    </body>
</html>