<!doctype html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link rel="stylesheet" href="../static/styles/DocksStyleSheet.css">
    <title>StartGG queries</title>
</head>
<section class="header">
    <divc class="title-wrapper">

        <h1 class="top-title">First button is for generating a full CSV of matches</h1>
        <form class="center" action="/get_csv" method="POST">

            <div style="text-align: center;">
                <input type="Submit" value="GENERATE CSV" class="button-76">
            </div>

        </form>
        <h1 class="top-title">Second button is for generating CSV of the top 8 matches</h1>

        <form class="center" action="/get_top_8" method="POST">

            <div style="text-align: center;">
                <input type="Submit" value="GENERATE top 8" class="button-76">
            </div>
        </form>
    </divc>
</section>

</html>